#products .pagination {
    display: flex;
    justify-content: left;
    padding: 20px;
    color:dark;
    font-display: 10px;
    font-size: large;
    font-family: sans-serif;
    border: #1e3f82;
    font-weight: 550;
  }

  #products #curr_pag {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(59, 120, 181);
    font-weight: 550;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #products .list-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    font-size: medium;
  }
  
  #products #its {
    margin: 0 8px;
    padding: 8px 16px;
    border: 1% #5a7085;
    background-color: #f1faff;
    font-size: 15px;
    font-family: sans-serif;
  }

