.pagination {
    display: flex;
    justify-content: left;
    padding: 20px;
    color:dark;
    font-display: 10px;
    font-size: large;
    font-family: sans-serif;
    border: #1e3f82;
    font-weight: 550;
  }

  #curr_pag {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(59, 120, 181);
    font-weight: 550;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #title_page {
    color: #1c324b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-overflow:ellipsis;
  }

  .list-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    font-size: medium;
  }
  
  #its {
    margin: 0 8px;
    padding: 8px 16px;
    border: 1% #5a7085;
    background-color: #f1faff;
    font-size: 15px;
    font-family: sans-serif;
  }

  .side-bar {
    background-color: #363c48;
    height: 300px; 
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
    border-radius: 4%;
  }
  
  #side_btn {
    background-color: #4f76aa;
    font-size:medium;
    border-color: #263e6d;
  }

  #filt_btn {
    padding-right: 5%;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    margin-bottom: 2%;
  }
  
  #S {
    max-width: fit-content;
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: white;
    
    /* width: 95%; */
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  #side-filt {
    padding: 15px;
    font-size: 20px;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }
  
  .nav-text a:hover {
    background-color: #355b87;
  }
