#petshop-footer .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;       
    height: auto;
    font-size: 1em;
    /* padding: 0.5%;  */
    position: sticky;
    bottom: 0;
    background-color: #d7e5f0;
  }

  #petshop-footer .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  #petshop-footer .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  #petshop-footer #subscribe_btn {
    background-color: #4f76aa;
    font-size:medium;
    border-color: #263e6d;
    height: 5%;
    justify-content: center;
    display: flex;
  }

  #petshop-footer #input_type {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #072258;
    text-align: center;
  }

  